{% extends 'core/base.html' %}
{%load static%}
{% block content%} 
<div class=" mt-3 text-center">
<div class="mt-3 text-center">
    <img src="{% static 'core/images/vishu.jpg' %}" alt="profile pic"
    class="img-tumbnail" width="250px" height="250px">
</div>

 
    <div class="mt-5 text-white mx-5 text-justify">
    <h1 class="font-weight-bold mx-5 st-font">hello,</h1>
    <div class="px-4">
    <p style="text-indent: 100px;">I am <b
    class="text-warning">Vaishali verma</b>having 1 year of full-stack web development experience 
    for global business,I offer the technical expertise you seeking for your 
    webdeveloper postion
    </p>
    <p style="text-indent: 100px;">since earning my bachelor's degree in internet and web developer from xyz university, i have
    erved as a web developer at<b class="text-warning">geekys technology</b>,one of biggest premier 
    digital marketing and web development firm.</p>
          
    <p>lorem, ipsum dolor sit eliy, evenist nhbd jgfkj ewuiffje ieuhfuirhd iurhfi iurhfi
    rjofigerjf krhfoej oierfo </p>
    <p> oiwefutoe iefrtorjhgfkjrn iefoi oieuwfhy woeifun iuhyrfiu
    ewjfh iewfhoi ierhf khuef ijefj hufen </p>
</div>
</div>
<a href="" class="btn btn-outline-warning my-3 mr-3">Hire me</a>

<a href="" class="btn btn-outline-info my-3">contact me</a>
           

        

       
</div>
{%endblock content%}    
 </div>
</div>


